/**
 * @author Tony Xavier
 * @package Armada_ProductImport
 */
.import-error-wrapper {
    margin-top: 10px;
}

.import-error-list {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    background-color: #fcc;
    margin: 10px 0 0 0;
}
